.cursor {
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	pointer-events: none;
	will-change: transform;
	mix-blend-mode: difference;
  }
  
  @media (hover: hover) and (pointer: fine) {
	.cursorCircle {
	  width: 4em;
	  height: 4em;
	  margin-top: -50%;
	  margin-left: -50%;
	  border-radius: 50%;
	  border: solid 1px rgba(227, 222, 193, 0.64);
	  transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
		background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
		border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
		width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
		height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
	}
	
	.cursor[state='arrow'] .cursorCircle{
	  width: 128px;
	  height: 128px;
	  background-color: #073099;
	  border-color: #073099;
	}
	
	.cursor[state='arrow']::after{
	  content: '';
	  position: absolute;
	  left: -50%;
	  top: -50%;
	  width: 100%;
	  height: 100%;
	  background-image: url('https://svgshare.com/i/MzQ.svg');
	  background-repeat: no-repeat;
	  background-position: center;
	}
	
	.cursor[state='grow'] .cursorCircle{
	  width: 9em;
	  height: 9em;
	  background-color: #351515;
	  border-color: #153235;
	}
	
	.cursor[state='subtle'] .cursorCircle{
	  opacity: 0.16;
	}
	
	.cursor[state='overlay'] .cursorCircle{
	  width: 48px;
	  height: 48px;
	  background-color: rgba(227, 222, 193, 0.08);
	  border-color: transparent;
	}

	.cursor[state='hide'] .cursorCircle{
	  opacity: 0;
	}
  }