.footer {
    background-color: red;
    width: 200px;
    height: 200px;
    background: url("/assets/top.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 4em;
    right: 4em;
    z-index: 6;
    opacity: 0.6;
    filter: invert(1);
    cursor: pointer;
    transition: 0.2s ease;
}

.footer:hover {
    opacity: .8;
    scale: 1.09;
}

@media screen and (max-width:760px) {
    .footer {
        width: 170px;
        height: 170px;
        right: 2em;
        bottom: 3em;
    }
}
@media screen and (max-width:560px) {
    .footer {
        width: 130px;
        height: 130px;
        right: 1em;
        bottom: 2em;
    }
}

.lane {
    width: 100vw;
    height: 40px;
    background: rgb(60 60 145);
    z-index: 7;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.lane::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(21, 21, 23);
    z-index: -1;
}

.lane .inner {
    width: 100%;
    padding: 2em;
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'sharlee';
    font-size: 1.1em;
}

.lane .inner ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1em;
}

.lane .inner ul li {
    font-weight: 400;
    font-size: 1em;
    font-family: 'sharlee';
    position: relative;
    padding-right: 1em;
}

.lane .inner ul li::after {
    content: '';
    height: 0.8em;
    border: .5px solid white;
    position: absolute;
    right: 0;
    top: 0.1em;
    opacity: 0.5;
}
.lane .inner ul li a {
    opacity: 0.8;
    position: relative;
}

.lane .inner ul li a::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    scale: 0 1;
    transform-origin: center;
    transition: scale 0.2s ease;
}

.lane .inner ul li a:hover::before {
    scale: 1 1;
    opacity: .8;
}
.lane .inner ul li a:hover {
    opacity: 1;
}

.lane .inner ul li:last-child::after {
    display: none;
}

.proj {
    font-weight: 600;
    opacity: 0.7;
}