* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  font-family: 'sharlee';
  font-size: 14px !important;
  user-select: none;
}

:root {
  --primary: #000000;
  --secondary: #eae6e1;
  --text: #2d2c2c; 
  --bluish: #494c4d;

  --hh: 6em;
}

main {
  width: 100vw;
  min-height: 100vh; 
  height: auto;
  background-color: var(--secondary);
  scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--bluish);
    font-weight: 600;
}







/*  <===== Miscelaneous =====>  */

::-webkit-scrollbar {
  display: none;
}

.scrollBar {
    width: 8px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 169;
    --scroll: 0%;
}

.scrollBar::after {
    content: '';
    position: absolute;
    background-color: var(--secondary);
    filter: brightness(0.7);
    top: 0;
    right: 0;
    width: 8px;
    height: var(--scroll);
    z-index: 2;
}

@font-face {
  font-family: 'sharlee';
  src: url('/fonts/sharlee.woff2');
}

@font-face {
    font-family: 'HK';
    src: url('/fonts/HKGrotesk-Medium.woff2');
}

@font-face {
    font-family: 'HK_wide';
    src: url('/fonts/HKGroteskWide-SemiBold.otf');
}

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica.otf');
}