* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  font-family: 'sharlee';
  font-size: 14px !important;
  user-select: none;
  background-color: var(--secondary);
}

:root {
  --primary: #000000;
  --secondary: #eae5e1;
  --text: #2d2c2c; 
  --bluish: #494c4d;
  --curtain: #dccfc4;
  --hh: 6em;
}

main {
  width: 100vw;
  min-height: 100vh; 
  height: auto;
  background-color: var(--secondary);
  scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--bluish);
    font-weight: 600;
}

.glitch {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}






/*  <===== Miscelaneous =====>  */

::-webkit-scrollbar {
  display: none;
}

.scrollBar {
    width: 8px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 15;
    --scroll: 0%;
}

.scrollBar::after {
    content: '';
    position: absolute;
    background-color: var(--secondary);
    filter: brightness(0.7);
    top: 0;
    right: 0;
    width: 8px;
    height: var(--scroll);
    z-index: 2;
}

::selection {
  opacity: 0.8;
  background-color: #1112;
  border-radius: 20px;
}

@font-face {
  font-family: 'sharlee';
  src: url('/fonts/sharlee.woff2');
}
@font-face {
    font-family: 'HK_wide';
    src: url('/fonts/HK_wide.otf');
}

@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica.otf');
}

@font-face {
    font-family: 'Lora';
    src: url('/fonts/Lora.woff2');
}