.page {
	min-height: 100vh;
	height: fit-content;
	width: 100%;
	position: relative;
	padding: 6em 2em;
	padding-bottom: 2em;
	overflow:visible;	
}

.page[page-index="1"] {
	height: 100vh;
}

.page .landing {
	width: 100%;
	height: 100%;
	padding: 5em 2em;
	color: var(--text);
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-start;
	border-radius: 10px;
}

.page[page-index="1"] .landing {
	padding-bottom: 2em;
}

.landing .title {
	font-weight: 600;
	margin-bottom: 1em;
	max-width: 1200px;
	word-wrap: break-word;
	display: flex;
	flex-direction: column;
	position: relative;
}

.landing .title::after {
	content: "";
	position: absolute;
	top: -.5em;
	left: 0;
	width: 50%;
	height: 2px;
	background-color: var(--text);
	opacity: 0.3;
	transition: 0.2s ease-out;
}

.landing .title span {
	width: fit-content;
	line-height: 1;
	font-size: 6em;
	font-family: 'HK_wide';
	text-transform: uppercase;
	margin-top: .2em;
}

/* .page[page-index="2"] {
	border-top: 1px solid;
} */

.page[page-index="2"] .content {
	width: 100%;
	height: 100%;
	color: var(--text);
}

.page[page-index="2"] .content .intro {
	padding-top: 2em;
	font-family: 'Helvetica';
	font-size: 3.8em;
	max-width: 1250px;
	font-weight: 900;
	opacity: 0.9;
	line-height: 1.3;
}

.page[page-index="2"] .content .introImg {
	margin-top: 5em;
	border-radius: 10px;
	transform-origin: top;
	margin-bottom: 5em;
}

.page[page-index="3"] {
	/* background-color: #1e1f1f; */
}