.page {
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  position: relative;
  padding: 6em 2em;
  padding-bottom: 2em;
  overflow: visible;
}

.page[page-index="1"] {
  height: 100vh;
}

.page .landing {
  width: 100%;
  height: 100%;
  padding: 5em 2em;
  color: var(--text);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  border-radius: 10px;
}

.page[page-index="1"] .landing {
  padding-bottom: 2em;
}

.landing .title {
  font-weight: 600;
  margin-bottom: 1em;
  max-width: 1200px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  position: relative;
}

.landing .title::after {
  content: "";
  position: absolute;
  top: -0.5em;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: var(--text);
  opacity: 0.3;
  transition: 0.2s ease-out;
}

.landing .title span {
  width: fit-content;
  line-height: 1;
  font-size: 6em;
  font-family: "HK_wide";
  text-transform: uppercase;
  margin-top: 0.2em;
}

.page[page-index="2"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vid {
  background: radial-gradient(
    ellipse at 50% 50%,
    rgba(200, 192, 192, 0.433) 0%,
    rgba(0, 0, 0, 0.596) 100%);
  width: calc(100vw - 3rem);
  height: calc(100vh - 3rem);
  margin-bottom: 500px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  cursor: pointer;
}

.vid:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.1;
  transition: opacity 0.3s ease;
}

.vid:hover::after {
  opacity: 0.15;
}

.vidTitle {
  opacity: 1;
  z-index: 3;
  font-size: 3em;
  font-family: 'HK_boldenWide';
  opacity: 0.7;
  text-transform: uppercase;
  transition: translate 0.3s ease-out;
  position: relative;
  color: white;
}

.vidTitle::after {
  content: "";
  position: absolute;
  height: 100%;
  aspect-ratio: 1 / 1 ;
  left: -2em ;
  scale: 0.8;
  opacity: 0;
  transition: opacity 0.3s ease-out, scale 0.3s ease-out;
  background-image: url("/assets/play.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  filter: invert(1);
}

.vid > * {
  pointer-events: none;
}

.vid:hover .vidTitle {
  translate: 1em;
}

.vid:hover .vidTitle::after {
  opacity: 1;
  scale: 1;
}

/* Make responsive */

@media (max-width: 768px) {
  .landing {
    height: 100vh;
  }
}